* {margin:0; padding: 0; font-size:100%; box-sizing: border-box;  }

.background {
    background-color: whitesmoke;
    height: 100vh;
}

#container {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 720px;
    justify-content: space-around;
    
}

.container_main {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 100vh;
    background-color: whitesmoke;
    margin:0px auto;
    justify-content: space-around;
    align-items: center;
}

.container_rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 80px;
    margin:10px auto;
}
.main_image {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 340px;
    height: 570px;
    justify-items: center;
    margin: 70px auto;

}
.main_login {
    display: flex;
    margin: 0 auto;  
    width: 330px;
    height: 520px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
   
}

.image {
    width: 680px;
    align-self: center;
    margin-left: 80px;
}

.info_login {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 340px;
    margin: 10px auto;
    border:solid;
    border-color:lightgray;
    border-width: 1px;
}

.sign_up {
    display:flex;
    justify-content: center;
    align-items: center;
    
    background: white;
    width: 300px;
    height: 60px;
    border:solid;
    border-width:1px;
    border-color:lightgray
}
.sign_up_link {
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
}

.sign_up_link1 {
    color:blue;
    text-decoration: none;
    font-weight: bold;
}
.apps {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 120px;   
    margin: 10px auto;
}

.instagram_logo {
    padding: 20px;
    width:190px;
}

.email_login {
    background-color: whitesmoke;
    font-family: arial;
    font-size: 11px;
    width: 230px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 7px;
}

.senha_login {
    background-color: whitesmoke;
    font-family: arial;
    font-size: 11px;
    width: 230px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding:7px;
    margin: 8px auto;
}

.btn {
    display: flex;
    padding: 10px 8px;
    width: 230px;
    height: 30px;
    font-family: arial;
    font-size: 12px;
    color:white;
    background-color: lightskyblue;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;   
}

.btn:hover {
    background:#1E90FF	;
}

.option {
    display:flex;
    flex-direction: row;
    margin: 10px auto;
    width: 230px;
    height: 20px;
    justify-content: space-between;

}

.text {
    font-size:12px;
    font-family: arial;
    color: gray;
    margin:3px auto;
}
.text1 {
    font-size:13px;
    font-family: arial;
    margin:3px auto;
    margin-left: 60px;
}

.borda_opcao {
    color:lightgray;
    margin-top: -8px;;
}

.login_facebook {
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-around;
    width: 175px;
    height: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.login_facebook1 {
    width: 140px;
    margin-left: 0px;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: #1E90FF;
}

.forgot_password {
    text-decoration: none;
    font-family: arial;
    font-size: 11px;
    margin: 6px 34px;
    color:black;
}

.image_app {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    height: 90px;
    margin: 0 auto;
    align-items: center;

}

.image_app1 {
 padding:0px;
}

.github {
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

.conteudo1_rodape {
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 width:540px;
 height: 20px;
}



.conteudo2_rodape {
    display:flex;
 width: 310px;
 height: 20px;
 justify-content: space-around;
}

.texto_rodape{
    text-decoration: none;
    font-size: 11px;
    font-family: arial;
    color: grey;
}